.holder{
	width:100vw;
	height:100vh;
	justify-content:center;
	align-items:center;
	display:flex;
	
}
.item{
	align-items:center;
	width:100px;
	height:100px;
	background:red;
}
/* Your CSS Code here. */